:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#title{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #E8A90A;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}
#magic{
  display: flex;
  font-size: 20px;
  width: 94px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
}
#etch{
  display: flex;
  font-size: 40px;
  margin: 0;
  width: 347px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
}
#screen{
  display: flex;
  font-size: 20px;
  width: 94px;
  height: 52px;
  flex-direction: column;
  justify-content: center;
}


#container{
  display: flex;
  padding: 28px 75px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 55px;
  background: #E00C0C;
  box-shadow: 0px 4px 6px 10px rgba(0, 0, 0, 0.25);
}

#container-grid {
  display: grid;
  background: #BEBEBE;
  width: 639px;
  height: 405px;
  flex-shrink: 0;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  text-align: center;
  border: 1px solid #ccc;
}

#buttons{
  display: flex;
  gap: 460px;
  flex-direction: row;
  
}